<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../public/chat_room_style.css">
</head>
<body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<header>
    <h1>
        realtime chatting room
    </h1>
</header>
<section id="chat-room-body">
    <div id="chat-body">
    </div>
</section>
<form id="chat-form">
    <label for="chat-message">
        <input name="chat-message" id="chat-message">
    </label>
    <button id="chat-submit" type="submit">
        전송
    </button>
</form>
<footer>
    <div>
        created by <a href="https://www.github.com/devaspirant0510">Seungho</a>
    </div>
</footer>
<script src="../public/index.js">

</script>
</body>
</html>
