<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>신입사원 모집 공고</title>
    <style>
        th {
            width: 150px;
        }

        td {
            width: 150px;
            text-align: center;
        }

        table {
            border: 1px solid #444444;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<form method="post">
    <div>
        <input name="image" type="file" >
    </div>
    <button type="submit">
        submit
    </button>
</form>
</body>
</html>
